soundfile==0.12.1
Flask==2.3.3
langchain==0.0.306
google-ai-generativelanguage==0.3.2
google-api-core==2.12.0
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-generativeai==0.2.0
googleapis-common-protos==1.60.0
gunicorn==21.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.13
transformers==4.34.0 
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
pypdf==3.16.2
speechbrain==0.5.15
scipy==1.11.2
numpy==1.25.2
